/* The main SVG */
.button-icons {
  width: 1.25em;
}

/* The individual icons */
.icon {
  fill: #fff;
}


/* We hide the checkmark by default */
#checkmark {
 visibility: hidden;
}
/*I got this code snippit from css-tricks author:Geoff Graham */
.paragraph {
  text-indent: 50px;
  line-height: 1.6;
}

h1 {
  color: blue;
  font-size: 24pt;
  align-content: right;
  text-align: center;
}

h2 {
  font-size: 22pt;
  margin-bottom: 10px;
}

.unorderedList {
  margin-left: 40px;
  font-size: 13pt;
}
