#svg {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: blue;
  /* animation-name: movingBox;
  animation-duration: 4s;
  animation-iteration-count: 3; */
}
/* 
@keyframes movingBox {
  0%    {left:50px; top: 200px;}
  25%   {left: 500px; top: 200px;}
  50%   {left: 500px; top: 500px;}
  100%  {left: 50px; top: 500px;}
} */